<header class="header">
  <div class="container">
    <div class="header__main-info">
      <div class="header__logo">
        <a href="#">
          <svg class="header__icon-film">
            <use href="/src/images/sprites.svg#filmoteka-icon"></use>
          </svg>
        </a>
      </div>
      <div class="header__nav">
        <ul class="header__navigation-list">
          <li class="header__navigation-item">
            <a href="#" class="header__navigation-link">home</a>
          </li>
          <li class="header__navigation-item">
            <a href="#" class="header__navigation-link">my library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__form">
      <form class="header__search-form">
        <input
          type="text"
          class="header__search-form-input"
          placeholder="Movie search"
        />
        <button class="header__search-form-submit" type="submit">
          <svg class="header__search-icon">
            <use href="/src/images/sprites.svg#search-icon"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
