// .backdrop.is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   max-width: 450px;
//   width: 100%;
//   min-height: 609px;
//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   transform: translate(-50%, -50%) scale(1);
//   transition: transform 250ms var(--cubik-timings);
//   &__close-button {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     align-items: center;
//     top: 8px;
//     right: 8px;
//     height: 30px;
//     width: 30px;

//     border: 1px solid rgba(0, 0, 0, 0.1);
//     background-color: var(--white-color);
//     fill: var(--absolute-black);
//     border-radius: 50%;
//     cursor: pointer;
//     transition: fill 250ms var(--cubik-timings);
//   }

//   &__close-button:hover,
//   &__close-button:focus {
//     fill: var(--accent-color);
//   }
// }

// @media screen and (min-width: 1200px) {
//   .modal {
//     max-width: 528px;
//     min-height: 581px;
//   }
// }

// .modal-inner {
//   padding: 40px;
//   z-index: 10;
//   width: 100%;
// }

.rate-widget-open-btn {
}
.rate-widget-open-btn-icon {
  position: fixed;
  top: 100px;
  left: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation: heartBeat;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  @media screen and (min-width: 768px) {
    left: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1200px) {
    left: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
  }
  &:hover {
    transform: scale(1.25);
  }
}

.icon-icecream {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 19px;
  width: 50px;
  height: 50px;

  cursor: pointer;
  animation: heartBeat;
  fill: var(--colorText-primary);
  animation-duration: 2s;
  animation-iteration-count: infinite;

  @media screen and (min-width: 768px) {
    left: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1200px) {
    left: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
  }
  &:hover {
    animation-play-state: paused;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: auto;
  padding: 0;
  background: #322e2e;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  width: 400px;

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.post-message-text {
  font-size: 26px;
  color: #666;
  font-weight: 500;
}

.modal-content form {
  display: none;
}
input:checked ~ form {
  display: block;
}

.rate-widget__input {
  display: none;
  justify-content: center;
}

.rate-widget label {
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

.rate-widget__input:not(:checked) ~ label:hover,
.rate-widget__input:not(:checked) ~ label:hover ~ label {
  color: #fd4;
}

.rate-widget__input:checked ~ label {
  color: #fd4;
}
.rate-widget__input#rate-5:checked ~ label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
.rate-widget__submit-text {
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

input#rate-1:checked ~ form h1:before {
  content: 'I hate it';
}
input#rate-2:checked ~ form h1:before {
  content: "I don't like it";
}
input#rate-3:checked ~ form h1:before {
  content: "It's OK";
}
input#rate-4:checked ~ form h1:before {
  content: "It's Awseome";
}
input#rate-5:checked ~ form h1:before {
  content: 'I Love your Site';
}
.rate-widget__textarea {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.rate-widget__textarea-text {
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.rate-widget__btn-thumb {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

.rate-widget__btn {
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: #222;
  color: #999;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.rate-widget__btn:hover {
  background: #1b1b1b;
  transition: all 0.3 ease;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

// .close {
//   color: white;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }

// .modal-header {
//   padding: 2px 16px;
//   background-color: #9c27b0;
//   color: white;
// }

// .modal-body {
//   padding: 2px 16px;
// }

// .modal-footer {
//   padding: 2px 16px;
//   background-color: #9c27b0;
//   color: white;
// }
